/archivos
/archivos_problemas_resueltos
/bucles
/CLASE
/condicionales
/ejercicios 1
/ejercicios 2
/ejercicio_módulos
/funciones
/funciones_buenas
/inputs
/métodos
/módulos
/operadores
/prrrr.py
/tipos de datos
/Variables
/Variables 2.0